@page
@model HomePage.Pages.CreateFoodModel
@{
    ViewData["Title"] = "Skapa maträtt";
}

<div class="page-wrapper mainscreen">
    <form class="dayfood-form" method="post" id="theForm">
        <input type="hidden" name="foodId" value="@Model.Food.Key" />
        <input type="hidden" name="date" value="@Model.DateKey" />
        <input type="hidden" name="ingredients" value="@Model.Food.ClientEncodedIngredients" id="ingredients" />
        <input type="hidden" name="delete" id="deleteHidden" value="" />
        <div class="input-wrapper">
            <span>Maträtt</span>
            <input type="text" name="foodName" required value="@Model.Food.Name"/>
        </div>
        <div class="input-wrapper">
            <span>Länk till recept</span>
            <input type="text" name="recipeUrl" value="@Model.Food.RecipeUrl" />
        </div>
        <div class="input-wrapper">
            <span>Finns i pärmen</span>
            <input type="checkbox" name="inFolder" checked="@Model.Food.InFolder" />
        </div>
        <div class="input-wrapper">
            <span>Tillbehör</span>
            <input type="checkbox" name="isSideDish" checked="@Model.Food.IsSideDish" />
        </div>

        <div class="input-wrapper">
            <span>Kategorier</span>
            <input id="categoryids" type="hidden" name="categories" value="@string.Join(',', Model.Food.CategoriyIds ?? [])" />
            <div onclick="showCategoryPicker('@Model.Food.Key')" class="category-shower">@string.Join(", ", Model.Food.Categories.Select(xa => xa.Name))</div>
        </div>

        <div class="input-wrapper">
            <span>Anteckningar</span>
            <textarea name="notes">@Model.Food.Notes</textarea>
        </div>
        
        <div class="button-wrapper">
            <input type="submit" value="Spara mat" />
            @if (!Model.IsNew) {
                <button type="button" onclick="deleteFood()">Ta bort</button>
            }
            <button type="button" onclick="window.history.back();">Avbryt</button>
            <button type="button" onclick="showIngredientPicker()">Ingredienser</button>
        </div>
    </form>
</div>

<script src="~/js/StarRanker.js" asp-append-version="true"></script>
<script src="~/js/CategoryPicker.js" asp-append-version="true"></script>
<script src="~/js/IngredientPicker.js" asp-append-version="true"></script>
<script src="~/js/IngredientInstance.js" asp-append-version="true"></script>
<script>
    var cachedCategories = undefined;
    var possibleIngredients = IngredientInstance.decodePossibleIngredients('@Html.Raw(Model.PossibleIngredients)')
    var unitTypes = JSON.parse('@Html.Raw(Model.AllUnitValues)')

    function deleteFood() {
        $('#deleteHidden').val('true')
        document.getElementById('theForm').submit();
    }

    function decodeIngredients(value) {
        if (!value) {
            return []
        }

        const result = []
        for (const ingString of value.split('¤')) {
            const tokens = ingString.split('|')
            result.push(({ id: tokens[0], amount: Number(tokens[1]), unit: tokens[2], category: tokens[3] }))
        }

        return result
    }

    function encodeIngredients(ingredients) {
        return ingredients.map(x => x.id + '|' + x.amount + '|' + x.unit + '|' + x.category).join('¤')
    }

    function showIngredientPicker() {
        const ingredientElement = document.getElementById('ingredients')
        const encodedIngredients = ingredientElement.value
        const decodedIngredients = decodeIngredients(encodedIngredients)
        const categories = '@Html.Raw(string.Join(',', IngredientCategory.Categories.OrderBy(x => x)))'.split(',')
        IngredientPicker.createPicker(categories, possibleIngredients, unitTypes, decodedIngredients, x => updateIngredients(x))
    }

    function updateIngredients(ingredients) {
        const encodedIngredients = encodeIngredients(ingredients)
        const ingredientElement = document.getElementById('ingredients')
        ingredientElement.value = encodedIngredients
    }

    function showCategoryPicker(foodId) {
        if (cachedCategories) {
            showPicker(cachedCategories);
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Category",
            data: {
                foodId: foodId
            },
            success: (e) => showPicker(e)
        });
    }

    function showPicker(categories) {
        cachedCategories = categories;
        CategoryPicker.createPicker(categories, (x) => updateFoodCategories(x))
    }

    function updateFoodCategories(chosen) {
        const textElement = document.querySelectorAll('.category-shower')[0]
        const idElement = document.querySelectorAll('#categoryids')[0]

        textElement.innerText = chosen.map(x => x.name).join(', ');
        idElement.value = chosen.map(x => x.id).join(',');
        for (const categry of cachedCategories) {
            categry.isSelected = chosen.map(x => x.id).includes(categry.id);
        }
    }
</script>