@page
@model HomePage.Pages.MoviesModel
@{
    ViewData["Title"] = "Filmer";
}

<div class="page-wrapper" style="gap: 2px;">
    <span class="seen-counter">@Model.SeenCounter</span>
    <a href="CreateMovie">Ny film</a>
    <button class="sectionButton" type="button" onclick="randomizeMovie()">Slumpa film</button>
    <div class="input-wrapper">
        <span>Sortera på:</span>
        <select onchange="updateSorting(this.value)">
            @foreach (var sorting in Model.SortingOptions)
            {
                if (sorting.Item1 == Model.CurrentSorting)
                {
                    <option value="@sorting.Item1.ToString()" selected> @sorting.Item2</option>
                }
                else
                {
                    <option value="@sorting.Item1.ToString()"> @sorting.Item2</option>
                }
            }
        </select>
    </div>
    <span>Senaste filmen: @Model.LastSeen.Name</span>
    <input type="hidden" value="@Model.AllMoviesJson" id="moviesJson" />
    <input type="hidden" id="loggedInPerson" value="@Model.LoggedInPerson?.UserName" />
    <div class="food-grid">
        @foreach (var movie in Model.Movies)
        {
            <div class="food-row">
                <div class="food-grid-cell">
                    <img class="movie-poster" src="@movie.ImageUrl"/>
                </div>
                <div class="food-grid-cell">
                    @if (movie.IsCompleted) {
                        <div class="food-grid-cell-inner">
                            @if (Model.HasAccessToMovie(movie))
                            {
                                <a href="CreateMovie?Id=@movie.Id">
                                    @movie.Name
                                </a>
                            }
                            else
                            {
                                <span>@movie.Name</span>
                            }
                            <span onclick="makeRanking('@movie.Id', '@Person.Jens.UserName')"> @movie.RankingText(Person.Jens)</span>
                            <span onclick="makeRanking('@movie.Id', '@Person.Anna.UserName')"> @movie.RankingText(Person.Anna)</span>
                        </div>
                    }
                    else if (Model.HasAccessToMovie(movie)) {
                        <a href="CreateMovie?Id=@movie.Id">
                            @movie.Name
                        </a>
                    }
                    else {
                        <span>@movie.Name</span>
                    }
                </div>
                <div class="food-grid-cell">
                    <span>@movie.Year</span>
                </div>
                <div class="food-grid-cell">
                    @if (movie.IsCompleted)
                    {
                        <span>✅</span>
                    }
                    else
                    {
                        <input type="checkbox" class="todo-checkbox" onchange="markCompleted('@movie.Id')" />
                    }
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/homeButton.js" asp-append-version="true"></script>
<script src="~/js/StarRanker.js" asp-append-version="true"></script>
<script src="~/js/JsonResultUnpacker.js" asp-append-version="true"></script>
<script>
    function markCompleted(id) {
         $.ajax({
            type: "POST",
            url: "/Movies",
            data: {
                itemId: id
            },
            success: (data) => {
                const result = JsonResultUnpacker.unpackResult(data, window)
                if (result?.success) {
                    window.location.reload()
                } else {
                    $('.todo-checkbox').prop('checked', false)
                }
            }
        });
    }

    function randomizeMovie() {
        const moviesJson = JSON.parse($('#moviesJson').val())
        const randomMovie = moviesJson[Math.floor(Math.random()*moviesJson.length)].Name
        const buttons = []
       buttons.push(({text: 'Nä, slumpa en ny', action: () => { Popup.closePopup(); randomizeMovie()}}))
       buttons.push(({text: 'Avbryt', action: () => Popup.closePopup()}))
       Alert.openDialog('Jag föreslår ' + randomMovie + '!', buttons)
    }

     function makeRanking(movie, person) {
         const loggedInPerson = $('#loggedInPerson').val()
         if (!loggedInPerson) {
             window.location.href = 'Login'
             return
         }

         if (person != loggedInPerson) {
             return
         }

        const ranker = StarRanker.create((r, n) => submitRanking(movie, person, r), 5, true)
        Alert.openDialogWithElement(ranker, [
            {text: 'Avbryt', action: () => {Popup.closePopup();}}
        ])
    }

    function submitRanking(movie, person, ranking) {
         $.ajax({
            type: "POST",
            url: "/Movies",
            data: {
               itemId: movie,
               person: person,
               ranking: ranking
            },
            success: (data) => {
                const result = JsonResultUnpacker.unpackResult(data, window)
                if (result?.success) {
                    window.location.reload()
                }
            }
        });
    }

      function updateSorting(value) {
        window.location = '/Movies?sorting=' + value
    }
</script>
