@page
@model HomePage.Pages.SplitFoodModel
@{
    ViewData["Title"] = "Bryt isär tillbehör";
}

<div class="page-wrapper mainscreen">
    <form class="dayfood-form" method="post" id="theForm">
        <input type="hidden" name="foodId" value="@Model.FoodId" />
        <div class="input-wrapper">
            <select name="newFood" style="max-width: 80vw">
                @foreach (var food in Model.ExistingFood)
                {
                     <option value="@food.Key"> @food.Name</option>
                }
            </select>
        </div>
        <div class="input-wrapper">
            <select name="sideDish" style="max-width: 80vw">
                @foreach (var food in Model.SideDishes)
                {
                    <option value="@food.Key"> @food.Name</option>
                }
            </select>
        </div>

        <div class="button-wrapper">
            <input type="submit" value="Bryt isär" />
            <button type="button" onclick="window.history.back();">Avbryt</button>
        </div>
    </form>
</div>
