@page
@model HomePage.Pages.WeekFoodModel
@{
    ViewData["Title"] = "Veckans mat";
}
<button type="button" onclick="showShoppingList()" style="position: absolute; top: 5px; right: 5px;">Skapa handlingslista</button>
<div class="page-wrapper mainscreen">
    <div class="goal-wrapper">
        @foreach (var goal in Model.WeekGoals.OrderBy(x => x.IsBad)) {
            <span style="@goal.Style">
                @goal.Category: @goal.Completed/@goal.Goal
            </span>
        }
    </div>

    <div class="week-food-header">
        <a href="WeekFood?@Model.PrevWeekQs">Föregående vecka</a>
        <span>Vecka @Model.Week</span>
        <a href="WeekFood?@Model.NextWeekQs">Nästa vecka</a>
    </div>

    <input type="hidden" id="loggedInPerson" value="@Model.LoggedInPerson" />
    <div class="food-grid">
        @foreach (var dayFood in Model.DayFoods) {
            <div class="food-row">
                <span class="weekday-cell food-grid-cell"> @DateHelper.WeekNumberToString[(int)dayFood.Day.DayOfWeek] @dayFood.Day.Day/@dayFood.Day.Month</span>
                <div class="food-cell food-grid-cell">
                    @if (!string.IsNullOrEmpty(dayFood.Food?.RecipeUrl))
                    {
                        <div class="recipelinkplaceholder" linkurl="@dayFood.Food?.RecipeUrl"></div>
                    }
                    @if (dayFood.Food?.InFolder == true)
                    {
                        <span class="recipe-button">📗</span>
                    }
                    @if(string.IsNullOrEmpty(dayFood.FoodId)) {
                        <a href="CreateDayFood?@DateHelper.FormatDateForQueryString(dayFood.Day)">Lägg till mat</a>
                    }
                    else if (!Model.IsLoggedIn || Model.FoodRankings[DateHelper.ToKey(dayFood.Day)].Any(x => !string.IsNullOrEmpty(x.FoodId))) {
                        <span>@dayFood.CombinedName</span>
                    }
                    else {
                        <a href="CreateDayFood?@DateHelper.FormatDateForQueryString(dayFood.Day)">@dayFood.CombinedName</a>
                    }
                </div>
                @foreach (var ranking in Model.FoodRankings[DateHelper.ToKey(dayFood.Day)]) {
                    if (Model.IsInFuture(ranking.Day)) {
                        <span class="food-grid-cell" > </span>
                    }
                    else {
                        <span class="food-grid-cell" onclick="makeRanking('@ranking.Day', '@ranking.Person')"> @ranking.Person: @ranking.RankingText</span>
                    }
                }
            </div>
        }
    </div>
</div>

<script src="~/js/homeButton.js" asp-append-version="true"></script>
<script src="~/js/StarRanker.js" asp-append-version="true"></script>
<script>
    function showShoppingList() {
        const wrapper = document.createElement('div')
        wrapper.className = 'ingredient-picker-inner'
        const dateFrom = document.createElement('input')
        dateFrom.type = 'date'
        dateFrom.value = '@Html.Raw(Model.ShopListFrom)'
        wrapper.appendChild(dateFrom)
        const dateTo = document.createElement('input')
        dateTo.type = 'date'
        dateTo.value = '@Html.Raw(Model.ShopListTo)'
        wrapper.appendChild(dateTo)

        Alert.openDialogWithElement(wrapper, [
            {text: 'Skapa lista', action: () => { window.location.href = 'CreateShoppingList?from=' + dateFrom.value + '&to=' + dateTo.value; }},
            {text: 'Avbryt', action: () => {Popup.closePopup();}}
        ])
    }

     function makeRanking(date, person) {
         const loggedInPerson = $('#loggedInPerson').val()
         if (!loggedInPerson) {
             window.location.href = 'Login'
             return
         }

         if (person != loggedInPerson) {
             return
         }

        const ranker = StarRanker.create((r, n) => submitRanking(date, person, r, n))
        Alert.openDialogWithElement(ranker, [
            {text: 'Avbryt', action: () => {Popup.closePopup();}}
        ])
    }

    function submitRanking(date, person, ranking, note) {
         $.ajax({
            type: "POST",
            url: "/WeekFood",
            data: {
                date: date,
                person: person,
                ranking: ranking,
                note: note
            },
            success: (e) => window.location.reload()
        });
    }
</script>