@page
@model HomePage.Pages.WordMixStatsModel
@{
    ViewData["Title"] = "Ordmix";
}
<div class="page-wrapper" style="height: 100vh;">
    
    <div style="display: flex; flex-direction: column; gap: 8px">
        <a href="CurrentWordMix">Dagens ordmix</a>
        <div style="position: relative; width: fit-content;">
            <a href="AddWords">Lägg till ord</a>
            @if (Model.WaitingForApproval > 0) {
                <span class="approval-icon">@Model.WaitingForApproval</span>
            }
        </div>
        <a href="WordMixLeaderboard">Topplista</a>
    </div>

    <div class="word-mix-top-bar">
        <div class="word-mix-score-wrapper">
            @if (Model.JensScore?.Key != null)
            {
                <a class="profile-photo jens" href="CurrentWordMix?board=@Model.JensScore.Key.EncodeForClient()"></a>
            }
            else
            {
                <div class="profile-photo jens"></div>
            }
            <span>@Model.ConvertScore(Model.JensScore?.Score)</span>
        </div>
        <div class="word-mix-score-wrapper">
            <span>@Model.ConvertScore(Model.AnnaScore?.Score)</span>
            @if (Model.AnnaScore?.Key != null)
            {
                <a class="profile-photo anna" href="CurrentWordMix?board=@Model.AnnaScore.Key.EncodeForClient()"></a>
            }
            else
            {
                <div class="profile-photo anna"></div>
            }
        </div>
    </div>
    @if (Model.OtherScores.Count > 0) {
        <div class="word-mix-other-current">
            @foreach (var entry in Model.OtherScores.OrderByDescending(x => x.Score))
            {
                @if (entry.Key != null)
                {
                    <a href="CurrentWordMix?board=@entry.Key.EncodeForClient()">@entry.Person: @entry.Score</a>
                }
                else
                {
                    <span>@entry.Person: @entry.Score</span>
                }
            }
        </div>
    }
    <div class="word-mix-history-outer">
        @foreach (var history in Model.History) {
            <div class="word-mix-history-wrapper">
                <div class="word-mix-score-date">
                    <span>@history.date.Day @DateHelper.MonthNumberToString[history.date.Month]</span>
                </div>
                <div class="word-mix-score-wrapper">
                    @if (history.jensScore?.Score > 0) {
                        <a class="profile-photo jens" href="WordMixStat?key=@history.jensScore.Key"></a>
                    }
                    else {
                        <div class="profile-photo jens"></div>
                    }
                    <span>@Model.ConvertScore(history.jensScore?.Score)</span>
                </div>
                <div class="word-mix-other-current" style="border: none;">
                    @foreach (var entry in history.others.OrderByDescending(x => x.Score))
                    {
                        <a href="WordMixStat?key=@entry.Key!.EncodeForClient()">@entry.Person: @entry.Score</a>
                    }
                </div>
                <div class="word-mix-score-wrapper">
                    <span>@Model.ConvertScore(history.annaScore?.Score)</span>
                    @if (history.annaScore?.Score > 0)
                    {
                        <a class="profile-photo anna" href="WordMixStat?key=@history.annaScore.Key"></a>
                    }
                    else
                    {
                        <div class="profile-photo anna"></div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/homeButton.js" asp-append-version="true"></script>
